<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attack Logs</title>
</head>
<body>
    <h1>Attack Logs</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>Attack Type</th>
            <th>Timestamp</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log['id'] }}</td>
            <td>{{ log['ip'] }}</td>
            <td>{{ log['attack_type'] }}</td>
            <td>{{ log['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('show_devices') }}">View Connected Devices</a>
</body>
</html>
